* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: sans-serif;
    line-height: 120%;
    margin: 20px 20px 55px 20px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    font-weight: lighter;
}

p {
    text-align: center;
    padding: 0 0 20px 0;
}

a {
    color: black;
    text-decoration: none;
}

button {
    font-family: sans-serif;
    color: white;
    padding: 10px 12px 10px 12px;
    margin: 7px;
    background-color: teal;
    border: 0px;
    border-radius: 10px;
}

.sidebar {
    width: 200px;
    text-align: center;
    padding: 10% 0px 10% 0px;
    margin: 0px 10px 0px 10px;
    border: 1px solid purple;
}

#quizstart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 800px;
    padding: 0px 0px 10% 0px;
    border: 1px solid blue;
}

#quizarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 800px;
    padding: 0px 0px 10% 0px;
    border: 1px solid blue;
    display: none;
}

#quizstatement {
    font-family: sans-serif;
    line-height: 120%;
    margin: 20px 20px 55px 20px;
}

#quizanswers {
    display: flex;
    flex-direction: column;
}

#answer-result {
    text-align: center;
    font-style: italic;
    color: grey;
    text-decoration: underline;
    padding-top: 10px;
}

#submissionMenu {
    display: none;
}

button:hover {
    background-color: slategray;
}

a:hover {
    color: slateblue;
}


/* -------------- FOR MOBILE -------------- */

@media (max-width: 1050px) {

    body {
    flex-direction: column;
    align-items: space-evenly;
    }

    h1 {
        font-size: 1.6em;
        margin: 0px 20px 20px 20px;
    }

    h3 {
        font-size: 2em;
    }

    .sidebar {
        width: auto;
        text-align: center;
        padding: 10px 0px 10px 0px;
    }

    #quizstart {
        padding: 0px 0px 0px 0px;
        height: 400px;
        width: auto;
    }

    #quizarea {
        padding: 0px 0px 0px 0px;
        height: 400px;
        width: auto;
    }

    #quizstatement {
        font-size: 1.6em;
        margin: 0px 20px 20px 20px;
    }
}